body { margin: 0px; padding: 0px; }  * { font-family: arial ; } 
div.maincontent 
{ height: 940; 
	background-image:url('background%20(1).jpg');
	background-repeat: no-repeat ; width:1900px ; background-size: cover } 
div.navbar { display: flex ; justify-content: space-around; align-items: center ; background: rgba(0 , 0, 0, 0.6 )} 
div.navbar a { color: white ; margin: -150 ;}
div.navbar button { padding: 10px; border-radius: 8px;  border: 2px solid white ; background-color: transparent; color: white; }
div.details {  text-align: center; padding-top: 150px ; color: white ;} 
div.details  button{padding: 10px; border-radius: 8px;  border: 2px solid white ; background-color: white; color: darkturquoise; } div.games{ display: flex;width:60%; justify-content: space-around; align-items: center;}
div. umpcoming h1 {text-align: center;} div.game img { width: 120px; height: 120px; border-radius: 120px;}
div.maingame { display: flex; align-items: center; justify-content:center  ;width: 60%; margin: auto; background-color: black; color: white;} div.maingame button { 
padding: 10px;
border border-radius:  8px; 
 background-color: white ;
color: white;
border: none ;
}